<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="/layouts/layout"
      th:with="page='account'" class="account">
  <head>
    <title th:text="#{website.home}">Home</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div class="row">
        <div id="update-alert" class="col-md-12 alert alert-success text-center" role="alert" hidden="true" >
          Field has been updated!
        </div>
      </div>
      <div class="row">
        <div th:if="${!user.isVerified()}" class="col-md-12 alert alert-danger text-center" role="alert">
          <span id="verification-message">
            <span sec:authentication="principal.firstName" />
            <span th:text="#{account.verificationMessage}">please verify your account!</span>
            <a th:href="@{/account/verification}" th:text="#{account.verificationLink}">
              Click here to request a new verification email.
            </a>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="box">
          <div class="col-xs-4 col-sm-3">
            <ul class="nav nav-tabs tabs-left">
              <li class="active"><a href="#account" data-toggle="tab"><i class="fa fa-user" />&nbsp;<span th:text="#{account.account}">Account</span></a></li>
              <li><a href="#reviews" data-toggle="tab"><i class="fa fa-star" />&nbsp;<span th:text="#{account.reviews}">Reviews</span></a></li>
              <li><a href="#bookings" data-toggle="tab"><i class="fa fa-calendar-check-o" />&nbsp;<span th:text="#{account.bookings}">Bookings</span></a></li>
              <li><a href="#settings" data-toggle="tab"><i class="fa fa-cog" />&nbsp;<span th:text="#{account.settings}">Settings</span></a></li>
            </ul>
          </div>

          <div class="col-xs-8 col-sm-9">
            <div class="tab-content">
              <div class="tab-pane active" id="account">
                <form th:object="${user}">
                  <label th:text="#{register.email}">Email</label>&nbsp;
                  <i class="fa fa-pencil" th:title="#{account.updateEmail}" data-toggle="modal" data-target="#email-modal" />
                  <input type="text" th:field="*{email}" th:disabled="true" class="form-control" />
                  <br />
                  <label th:text="#{register.firstName}">First Name</label>&nbsp;
                  <i class="fa fa-pencil" th:title="#{account.updateFirstName}" data-toggle="modal" data-target="#first-name-modal" />
                  <input type="text" th:field="*{firstName}" th:disabled="true" class="form-control" />
                  <br />
                  <label th:text="#{register.lastName}">Last Name</label>&nbsp;
                  <i class="fa fa-pencil" th:title="#{account.updateLastName}" data-toggle="modal" data-target="#last-name-modal" />
                  <input type="text" th:field="*{lastName}" th:disabled="true" class="form-control" />
                </form>
                <br />
                <button type="button" class="btn btn-default" th:text="#{account.passwordButton}" data-toggle="modal"
                        data-target="#password-modal">Update Password</button>

                <!-- Modals -->
                <div layout:replace="fragments/modals/account :: emailModal" />
                <div layout:replace="fragments/modals/account :: firstNameModal" />
                <div layout:replace="fragments/modals/account :: lastNameModal" />
                <div layout:replace="fragments/modals/account :: passwordModal" />
              </div>
              <div class="tab-pane" id="reviews">
                <button type="button" class="btn btn-default" th:text="#{reviews.add}" data-toggle="modal"
                        data-target="#add-review-modal">Add Review</button>

                <h3 th:if="${reviews.isEmpty()}" th:text="#{account.reviewsMessage}">You don't appear to have added any reviews yet</h3>

                <table th:unless="${reviews.isEmpty()}" id="reviews-table" class="table">
                  <thead>
                    <tr>
                      <th th:text="#{reviews.date}">Date</th>
                      <th class="main" th:text="#{reviews.review}">Review</th>
                      <th th:text="#{reviews.score}">Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="review: ${reviews}">
                      <td th:text="${#joda.format(review.createdAt, 'dd/MM/yyyy')}">17/12/2014</td>
                      <td th:text="${review.review}">Review</td>
                      <td>
                        <input class="rating rating-loading" th:attr="value=${review.score}" data-size="xs"
                               data-readonly="true" data-show-clear="false" data-show-caption="false" />
                      </td>
                      <td>
                        <i class="fa fa-times" aria-hidden="true" th:title="#{account.deleteReview}" th:attr="data-review=${review.getId()}"
                           data-toggle="modal" data-target="#delete-review-modal" />
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- Modals -->
                <div layout:replace="fragments/modals/reviews :: addReviewModal" />
                <div layout:replace="fragments/modals/reviews :: deleteReviewModal" />
              </div>
              <div class="tab-pane" id="bookings">
                <h4 class="text-center">Currently it is not possible to book online, please check back at a later date!</h4>
              </div>
              <div class="tab-pane" id="settings">
                <form th:object="${user}">
                  <label th:text="#{account.language}">Language</label>
                  <select class="form-control" id="language-select">
                    <option th:each="language : ${languages}" th:selected="${user.getLanguage().toString() eq language.toString()}"
                            th:value="${language}" th:text="#{${'account.' + language.toString().toLowerCase()}}"></option>
                  </select>
                </form>

                <!-- Modals -->
                <div layout:replace="fragments/modals/settings :: languageModal" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>