<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/layout" th:with="page='contact'">
  <head>
    <title th:text="#{website.contact}">Contact</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div class="row">
        <div class="box contact-details">
          <!-- TODO: contact us -->
          <h3>For bookings and inquiries please send us an email:</h3>
          <h4><a href="mailto:lodge@cooperca.uk" target="_top">lodge@cooperca.uk</a></h4>
        </div>
      </div>
    </div>
  </body>
</html>