<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/layout" class="password">
  <head>
    <title th:text="#{password.title}">Forgotten Password</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div class="row">
        <div class="box">
          <div class="col-md-offset-4 col-md-4">
            <h2 class="intro-text text-center" th:text="#{password.title}">Forgotten Password</h2>
            <form th:object="${passwordCommand}" th:action="@{/user/requestPassword}" method="post">
              <label th:text="#{password.email}">Email</label>
              <input type="text" th:field="*{email}" class="form-control" />
              <span class="help-block" th:if="${#fields.hasErrors('email')}">
                <ul>
                  <li th:each="error : ${#fields.errors('email')}" th:text="${error}" />
                </ul>
              </span>

              <br />
              <input type="submit" value="Register" class="btn btn-md btn-primary btn-block" th:value="#{password.submit}"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>