<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/layout">
  <head>
    <title th:text="#{password.requested}">Password Requested</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <h2 class="intro-text text-center" th:text="#{password.requestMessage}">Password has been requested</h2>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>