<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/layout" class="register">
  <head>
    <title th:text="#{register.title}">Register</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div class="row">
        <div class="box">
          <div class="col-md-offset-4 col-md-4">
            <h2 class="intro-text text-center" th:text="#{register.title}">Register</h2>

            <form th:object="${userCommand}" th:action="@{/register}" method="post">
              <span class="help-block" th:if="${#fields.hasGlobalErrors()}">
                <p th:each="error : ${#fields.globalErrors()}" th:text="${error}"></p>
              </span>

              <label th:text="#{register.email}">Email</label>
              <input type="text" th:field="*{email}" class="form-control" />
              <span class="help-block" th:if="${#fields.hasErrors('email')}">
                <ul>
                  <li th:each="error : ${#fields.errors('email')}" th:text="${error}" />
                </ul>
              </span>

              <label th:text="#{register.confirmEmail}">Confirm Email</label>
              <input type="text" th:field="*{confirmEmail}" class="form-control" autocomplete="off" />
              <span class="help-block" th:if="${#fields.hasErrors('confirmEmail')}">
                <ul>
                  <li th:each="error : ${#fields.errors('confirmEmail')}" th:text="${error}" />
                </ul>
              </span>

              <label th:text="#{register.password}">Password</label>&nbsp;
              <i class="fa fa-question-circle-o" th:title="#{register.passwordTitle}"/>
              <input type="password" th:field="*{password}" class="form-control" />
              <span class="help-block" th:if="${#fields.hasErrors('password')}">
                <ul>
                  <li th:each="error : ${#fields.errors('password')}" th:text="${error}" />
                </ul>
              </span>

              <label th:text="#{register.confirmPassword}">Confirm Password</label>
              <input type="password" th:field="*{confirmPassword}" class="form-control" />
              <span class="help-block" th:if="${#fields.hasErrors('confirmPassword')}">
                <ul>
                  <li th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}" />
                </ul>
              </span>

              <label th:text="#{register.firstName}">First Name</label>
              <input type="text" th:field="*{firstName}" class="form-control" />
              <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                <ul>
                  <li th:each="error : ${#fields.errors('firstName')}" th:text="${error}" />
                </ul>
              </span>

              <label th:text="#{register.lastName}">Last Name</label>
              <input type="text" th:field="*{lastName}" class="form-control" />
              <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                <ul>
                  <li th:each="error : ${#fields.errors('lastName')}" th:text="${error}" />
                </ul>
              </span>

              <br />
              <input type="submit" value="Register" class="btn btn-md btn-primary btn-block" th:value="#{register.submit}"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>