<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/layout" xmlns:sd="http://www.thymeleaf.org/spring-data" th:with="page='reviews'">
  <head>
    <title th:text="#{website.reviews}">Reviews</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div class="row">
        <div class="box">
          <div class="col-md-12">
            <span th:text="#{reviews.sort}">Sort:</span>
            <span>|&nbsp;<a th:class="${reviews.sort.toString() eq 'createdAt: DESC'} ? 'current-sort'" sd:pagination-sort="createdAt,desc" th:text="#{reviews.newest}">Newest</a></span>&nbsp;|
            <span>&nbsp;<a th:class="${reviews.sort.toString() eq 'createdAt: ASC'} ? 'current-sort'" sd:pagination-sort="createdAt,asc" th:text="#{reviews.oldest}">Oldest</a></span>&nbsp;|
            <span>&nbsp;<a th:class="${reviews.sort.toString() eq 'score: DESC'} ? 'current-sort'" sd:pagination-sort="score,desc" th:text="#{reviews.highestRating}">Highest Ratings</a></span>&nbsp;|
            <span>&nbsp;<a th:class="${reviews.sort.toString() eq 'score: ASC'} ? 'current-sort'" sd:pagination-sort="score,asc" th:text="#{reviews.lowestRating}">Lowest Ratings</a></span>&nbsp;|
          </div>
          <br />
          <br />
          <div class="col-md-12">
            <table id="reviews-table" class="table">
              <thead>
                <tr>
                  <th th:text="#{reviews.date}">Date</th>
                  <th class="main" th:text="#{reviews.review}">Review</th>
                  <th th:text="#{reviews.score}">Score</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="review: ${reviews.content}">
                  <td th:text="${#joda.format(review.createdAt, 'dd/MM/yyyy')}">17/12/2014</td>
                  <td th:text="${review.review}">Review</td>
                  <td>
                    <input class="rating rating-loading" th:attr="value=${review.score}" data-size="xs"
                         data-readonly="true" data-show-clear="false" data-show-caption="false" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12 text-center">
            <ul class="pagination" sd:pagination="full" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>