<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>
    <div layout:fragment="emailModal" class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="email-modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="email-modal-label" th:text="#{account.email.label}">Update Email Address</h4>
          </div>
          <div class="modal-body">
            <label th:text="#{register.email}">Email</label>
            <input id="edit-email" type="text" class="form-control" />

            <label th:text="#{register.confirmEmail}">Confirm Email</label>
            <input id="confirm-edit-email" type="text" class="form-control" autocomplete="off" />

            <span class="help-block">
              <ul><!-- content loaded dynamically --></ul>
            </span>
          </div>
          <div class="modal-footer">
            <button id="save-email" type="button" class="btn btn-primary" th:text="#{modal.save}">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{modal.close}">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div layout:fragment="passwordModal" class="modal fade" id="password-modal" tabindex="-1" role="dialog" aria-labelledby="password-modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="password-modal-label" th:text="#{account.password.label}">Update password</h4>
          </div>
          <div class="modal-body">
            <label th:text="#{register.password}">Password</label>
            <i class="fa fa-question-circle-o" th:title="#{register.passwordTitle}"/>
            <input id="edit-password" type="password" class="form-control" />

            <label th:text="#{register.confirmPassword}">Confirm Password</label>
            <input id="confirm-edit-password" type="password" class="form-control" autocomplete="off" />

            <span class="help-block">
              <ul><!-- content loaded dynamically --></ul>
            </span>
          </div>
          <div class="modal-footer">
            <button id="save-password" type="button" class="btn btn-primary" th:text="#{modal.save}">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{modal.close}">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div layout:fragment="firstNameModal" class="modal fade" id="first-name-modal" tabindex="-1" role="dialog" aria-labelledby="first-name-modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="first-name-modal-label" th:text="#{account.firstname.label}">Update First Name</h4>
          </div>
          <div class="modal-body">
            <label th:text="#{register.firstName}">First Name</label>
            <input id="edit-first-name" type="text" class="form-control" />

            <span class="help-block">
              <ul><!-- content loaded dynamically --></ul>
            </span>
          </div>
          <div class="modal-footer">
            <button id="save-first-name" type="button" class="btn btn-primary" th:text="#{modal.save}">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{modal.close}">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div layout:fragment="firstNameModal" class="modal fade" id="last-name-modal" tabindex="-1" role="dialog" aria-labelledby="first-name-modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="last-name-modal-label" th:text="#{account.lastname.label}">Update Last Name</h4>
          </div>
          <div class="modal-body">
            <label th:text="#{register.lastName}">Last Name</label>
            <input id="edit-last-name" type="text" class="form-control" />

            <span class="help-block">
              <ul><!-- content loaded dynamically --></ul>
            </span>
          </div>
          <div class="modal-footer">
            <button id="save-last-name" type="button" class="btn btn-primary" th:text="#{modal.save}">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{modal.close}">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>