<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="consoleAppender" class="ch.qos.logback.ext.spring.DelegatingLogbackAppender"/>
  <appender name="fileAppender" class="ch.qos.logback.ext.spring.DelegatingLogbackAppender"/>

  <root level="INFO">
    <appender-ref ref="consoleAppender"/>
    <appender-ref ref="fileAppender"/>
  </root>
</configuration>