<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>
    <footer layout:fragment="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4 text-center">
            <!-- TODO: login/register/logged in as -->
            <p>&copy; Charlie Cooper 2016</p>
          </div>
          <div id="languages" class="col-xs-4 text-center">
            <!-- TODO: only show this if not logged in -->
            <p>
              <a href="?lang=en"><image th:src="@{/resources/img/gb.png}" th:alt="EN" th:title="#{footer.english}"/></a>
              &nbsp;
              <a href="?lang=ru"><image th:src="@{/resources/img/ru.png}" th:alt="RU" th:title="#{footer.russian}"/></a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>