<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>
    <header layout:fragment="header(page)">
      <div class="title">Spring MVC Lodge Website</div>
      <div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>
      <br />
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Spring MVC Lodge Website</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a th:href="@{/}" th:classappend="${page == 'index'} ? selected">Home</a>
              </li>
              <li>
                <a th:href="@{/gallery}" th:classappend="${page == 'gallery'} ? selected">Gallery</a>
              </li>
              <li>
                <a th:href="@{/lodge}" th:classappend="${page == 'lodge'} ? selected">The Lodge</a>
              </li>
              <li>
                <a th:href="@{/contact}" th:classappend="${page == 'contact'} ? selected">Contact</a>
              </li>
              <li>
                <a th:href="@{/reviews}" th:classappend="${page == 'reviews'} ? selected">Reviews</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>