<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <body>
    <ul layout:fragment="pagination(pages, controller)" class="pagination">
      <li th:class="${pages.first} ? 'disabled'">
        <a th:if="${not pages.first}" th:href="@{${'/' + controller}(page=${pages.number - 1}, size=${pages.size})}"><span>&laquo;</span></a>
        <a th:if="${pages.first}" href="javascript:void(0);"><span>&laquo;</span></a>
      </li>
      <li th:class="${pageNumber eq pages.number} ? 'active'" th:each="pageNumber : ${#numbers.sequence(0, pages.totalPages - 1)}">
        <a th:href="@{${'/' + controller}(page=${pageNumber},size=${pages.size})}">
          <span th:text="${pageNumber + 1}"></span>
        </a>
      </li>
      <li th:class="${pages.last} ? 'disabled'">
        <a th:if="${not pages.last}" th:href="@{${'/' + controller}(page=${pages.number + 1}, size=${pages.size})}"><span>&raquo;</span></a>
        <a th:if="${pages.last}" href="javascript:void(0);"><span>&raquo;</span></a>
      </li>
    </ul>
  </body>
</html>